.imgg{
     height: 50rem;
    background-image: url(assets/backgrounds/h_img.jpg) ;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 13%;
    color: white;
}
h1{
    line-height: 4rem;
}
.mouse{
    margin-top: 10%;
}
.section2{
text-align: center;
padding-top: 3rem;

}
.section3{
    height: 25rem;
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 9%;
    color: white;
}
.section4{
    text-align: center;
    padding-top: 1%;
    height: auto;

    
}

  #service-icon{
      display: flex;
      justify-content: space-around;
      padding: 4rem 0rem;
      flex-wrap: wrap;
      /* text-align: center; */
  }
  .portfolio{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1rem 14rem;
  }
  .section5{
    background-image: url(assets/backgrounds/c_image.jpg);
    height: 45rem;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3%;
    text-align: center;
    color: white;

  }
  .input{
      margin: 60px;
  }
  #emaill{
      background-color: transparent;
      
      border: 1px solid white;
      width: 25%;
      margin: 0 1%;
  }
  ::placeholder{
      color: white;
  }
  #subjectt{
      background-color: transparent;
      border: 1px solid white;
      width: 47%;
  }
  .social{
      height: auto;
      text-align: center;
      padding-top: 3%;
  }
  .iconss{
      margin: 0 0.5%;
  }
  .tongle{
      display: none;
  }
  .tonglee{
    display: none;
}
.tongleee{
    display: none;
}

